In [42]:
import seaborn as sns
import pandas as pd

# read_csv函数读取csv类型文件
 # 加载后的文件是一个dataframe 格式的文件。
data = pd.read_csv("./数据分析.csv") 
print(data)
# 删除小米行
data = data.drop(index=6,inplace = False)
print(data)

   姓名  年龄        出生日期   爱好   关系 性别
0  小王  23    1991/102   足球   朋友  男
1  小丽  23   1991/11/2   篮球  NaN  女
2  小黑  25   1989/4/25   游泳   同学  男
3  小白  26   1988/5/26   游戏  NaN  女
4  小红  20   2001/9/15   看剧  NaN  女
5  小绿  18  2002/12/30   足球   亲戚  男
6  小米  22    1999/1/9  乒乓球   朋友  女
   姓名  年龄        出生日期  爱好   关系 性别
0  小王  23    1991/102  足球   朋友  男
1  小丽  23   1991/11/2  篮球  NaN  女
2  小黑  25   1989/4/25  游泳   同学  男
3  小白  26   1988/5/26  游戏  NaN  女
4  小红  20   2001/9/15  看剧  NaN  女
5  小绿  18  2002/12/30  足球   亲戚  男

In [69]:
import seaborn as sns
import pandas as pd
data = pd.read_csv("../杭州培训/titanic.csv") 
print(data)
# 观察正负标签的比例
# data["survived"].sum() 列数和总数
data["survived"].sum()/data.shape[0] # 生存者的比例是38.38%，比例稍微偏低，但可以接受。最好正负标签平衡。
# 或者使用 mean() 求均值
data["survived"].mean()

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

0.3838383838383838